<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.frameworkAppium.testUtils.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="End to End Test Framework">
        <classes>
            <class name="com.frameworkAppium.EcommerceAppAutomation">
                <methods>
                    <include name="fillForm"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>